from rest_framework.permissions import IsAuthenticated
from rest_framework_simplejwt.authentication import JWTAuthentication

from core.viewsets import BaseModelViewSet

from .models import ${entityName}
from .serializers import ${entityName}Serializer


class ${entityName}ViewSet(BaseModelViewSet):
    """${businessName}视图集"""
    authentication_classes = [JWTAuthentication]
    permission_classes = [IsAuthenticated]
    queryset = ${entityName}.objects.all()
    serializer_class = ${entityName}Serializer
